@charset "utf-8";
/*新版样式*/
/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td,hr { margin: 0; padding: 0; font-family: "microsoft yahei";}
body { font-size: 12px; line-height: 1.5; background: #fff;}
h1,h2,h3,h4,h5,h6 { font-family: "microsoft yahei",arial,"hiragino sans gb","Simsun",sans-serif; font-size: 100%; font-weight:normal;}
input,textarea,select,button { font-size: 12px; font-weight: normal; vertical-align:middle;outline: none;}
input[type='button'],input[type='submit'],select,button { cursor: pointer;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
table { border-spacing: 0;}
address,caption,cite,code,dfn,em,th,var { font-style: normal; font-weight: normal;}
li { list-style: none;}
caption,th { text-align: left;}
q:before,q:after { content: "";}
abbr,acronym { border: 0 none; font-variant: normal;}
sup { vertical-align: text-top;}
sub { vertical-align: text-bottom;}
fieldset,img,a img,iframe { border-style: none; border-width:0;}
img { vertical-align: middle; vertical-align: middle; outline: none;}
textarea { overflow-y:auto; }
legend { color: #000;}
a { text-decoration: none; outline: none; cursor: pointer; color: #298ff8;}
a:link,a:visited { text-decoration: none;}
hr {height: 0;}
.clear { clear: both;}
.green { color: #2fb26a;}
.blue { color: #1d95d4;}
.dis-n{display: none;}
.clearfix:after,.clearfix:before{display: block; content: ""; clear: both;}
::-ms-clear, ::-ms-reveal{display: none;}
input[type='text'],input[type='password'] { font-size: 18px; font-family:  "微软雅黑"; outline: none; background: #f7f7f7; height: 44px; line-height: 44px; color: #ccc; padding-left: 12px; width: 288px; border:1px #ccc solid;}
input[type='text']:focus,input[type='password']:focus { background: #fff; border-color: #67B83D; color: #333;}
input[type='button'],input[type='submit'] { width: 100px; height: 36px; line-height: 18px; font-family:   "微软雅黑";  background: #2fb26a; text-align: center; border:none; color: #fff; font-size: 18px; border-radius: 5px; outline: none;}
input[type='button'].w140,input[type='submit'].w140 { width: 140px;}
textarea {font-size: 18px; font-family:  "微软雅黑"; background: #f7f7f7; color: #ccc; padding-left: 12px; padding-top: 12px; min-height: 124px; width: 296px; border:1px #ccc solid;}
textarea:focus { background: #fff; border-color: #67B83D;}
.error {color: #f00;font-size: 12px;display: inline-block; margin-left: 10px;}

/*----------------头部-----------------*/
.ft_header, .ft_content, .ft_footer { width: 100%; min-width: 1200px;}
.ft_banner_wp{width: 1180px;margin: 0 auto;position: relative;}
.banner_txt { float: left; display: inline; color: #fff;}
.banner_txt h1 { font-size: 52px; margin-bottom: 15px;}
.banner_txt p.link a {display: inline-block; width: 180px; height: 42px; line-height: 42px; text-align: center; background: #2fb26a; color: #fff; font-size: 18px; border-radius: 20px;}
.banner_txt p.link a:hover { background: #40C57C;}
body .transparent{background-color: transparent;}
.ft_header { height: 60px; background: #1f2831; overflow: hidden; position: fixed; top: 0;z-index: 10000;}
.ft_header_wp { width: 1200px; margin: 0 auto;}
.ft_header_wp:after{display: block; content: ""; clear: both;}
.ft_logo { float: left; display: inline-block; margin-right: 52px; line-height: 60px; }
.ft_logo a{display: block;}
.ft_logo img{margin: 15px 0;}
.ft_nav{float: right;margin-right: 20px;}
.ft_nav ul li { float: left; margin: 0px 18px; font-size: 16px; position: relative; line-height: 60px; }
.ft_nav ul li a { display: inline-block; color: #fff;border-bottom: 2px transparent solid; padding: 0px 5px;line-height: 60px;}
.ft_nav ul li:hover a{ color: #2FB26A;}
.ft_log {width:250px;overflow: hidden;line-height: 60px;height: 60px; float:right; display: inline;}
.ft_log a {  font-size: 16px;display: inline-block; text-align: center; margin-left: 3px; color: #fff;}
.ft_log a:hover { color: #2fb26a;}
.ft_log a.log{ width: 78px; height: 28px; line-height: 28px;}
.ft_log a.reg{width: 120px;height: 60px;line-height: 60px;background-color: #2fb26a;}
.ft_log a.reg:hover{color: #fff;background-color:#40C57C;}
.ft_log a.admin_center{ height: 60px; line-height: 60px;;width:120px;border: 1px #2fb26a solid; background: #2fb26a; color: #fff;}
.ft_log a.admin_center:hover{background-color:#40C57C;}
.ft_header_nologin{display: inline-block;height: 60px;}
/*菜单menu*/
.ft_menu { background: #fff; position: fixed; top: 60px; left: 0px; width: 100%; z-index: 1009;background: url(../images/bg-blur.png) 0px 0px repeat;}
.ft_menu a{color: #fff;}
.ft_menu .icon{background: url("../images/head-icons.png"); width: 30px; height: 30px;margin-top: -6px; display: inline-block; vertical-align: middle; margin-right: 5px;}
.submenu { display: none; overflow:hidden; }
.submenu .menu_list { font-size: 14px; color: #fff; line-height: 34px; overflow: hidden; width: 1200px; margin: 0 auto;height:300px}
.submenu strong { font-weight: normal; font-size: 16px; display: block; border-bottom: 1px #E2E3E3 solid; padding-bottom: 5px; margin-bottom: 15px;}
.submenu strong i { font-style: normal; font-size: 16px; color: #2FB26A; display: inline-block; margin-right: 8px;}
.menu_list .list { width: 200px; float: left; display: inline;padding: 15px; height: 230px;}
.menu_list .list.last{border-right: none;}
.menu_list .list ul{margin-left: 36px;}
.menu_list .list h3 {font-size: 18px;font-weight: bold;margin-bottom: 8px;}
.ft_menu .icon.call-center{background-position: -30px 0}
.ft_menu .icon.net{background-position: -60px 0}
.ft_menu .icon.conf{background-position: -90px 0}
.ft_menu .icon.traff{background-position: -120px 0}
.ft_menu span.act{    display: inline-block;padding: 0 10px;height: 17px; line-height: 17px;text-align: center; color: #fff; background: red;border-radius: 17px; font-size: 12px; margin-left: 5px;}
.ft_menu span.act.no{background: #9ba2a8;}
.menu_list .list a.disabled{color: #8c9399;}
.submenu.support .menu_list .list{margin-left: 730px; height: auto;}
.submenu.adv .menu_list .list{margin-left: 840px;height: auto;}
.ft_menu a:hover{color: #2fb26a}

.reg-content-2 {border-top: 1px solid #6e6e6e; line-height: 58px; height: 58px; }
.reg-content-2 .wraper{width: 1200px; margin: auto;font-size: 14px; overflow: hidden;  }
.reg-content-2 .left{float: left; color: #2fb26a;}
.reg-content-2 .left:hover{text-decoration: underline;}
.reg-content-2 .right{float: right; display: inline-block; width:110px; height: 30px; line-height: 30px; text-align: center; border: 2px solid #79cd9f; border-radius: 30px; margin-top: 10px; color: #79cd9f}
/*悬浮固定导航*/
.ft_menu_fixed { background: #fff; position: fixed; top: 0px; left: 0px; width: 100%; height: 59px; border-bottom: 1px #E7E9EA solid; z-index: 12; display: none; }
.menu_fixed_wp { width: 1180px; margin: 0 auto; position: absolute; left: 50%; margin-left: -600px;}
.menu_fold { width: 218px; float: left; display: inline; background: #fff; border:1px #fff solid; height: 57px;}
.menu_fold:hover { border:1px #e7e9ea solid;}
.menu_fold a.current { background: url(../images/menu_icon.png) 15px -645px no-repeat; padding-left: 48px; font-size: 18px; color: #374552; line-height: 59px;}
.menu_fold a.current i { float: right; display: inline; margin: 30px 15px 0 0; background: url(../images/menu_icon.png) 0 -675px no-repeat; width: 8px; height: 5px; vertical-align: middle; }
.menu_fold ul { display: none;}
.menu_fold ul li { font-size: 16px; color: #374552; padding-left: 48px; width: 172px; height: 50px; line-height: 50px; position: relative; cursor: pointer; }
.menu_fold ul li>a{ padding-left: -48px; display: block; color: #374552}
.menu_fold ul li i { float: right; display: inline; margin: 20px 18px 0 0; background: url(../images/menu_icon.png) 0 -688px no-repeat; width: 5px; height: 8px; vertical-align: middle; }
.menu_fold ul li.active,.menu_fold>ul>li:hover { background: #2fb26a; color: #fff;}
.menu_fold ul li.active a,.menu_fold>ul>li:hover a { background: #2fb26a; color: #fff;}
.menu_fold ul li.active i,.menu_fold>ul>li:hover i { background-position: -14px -688px;}
.menu_fold>ul>li:hover.fold_list{background: #fff}
.menu_fold .fold_list { background: #fff; border:1px #E7E9EA solid; position: absolute; left: 239px; width: 140px; top: 0; display: none;}
.menu_fold .fold_list a { display: block; height: 30px; line-height: 30px; padding: 10px; font-size: 16px; color: #374552 !important; background: #fff !important;}
.menu_fold .fold_list a:hover { color: #2fb26a !important;}
.menu_fold .fold_list em { position: absolute; left: -20px; top: 0px; display: inline-block; background: url(../images/menu_icon.png) 0 -717px no-repeat; width: 20px; height: 50px;}
.menu_title { float: left; display: inline; margin-left: 53px;}
.menu_title a { padding: 0 25px; color: #374552; font-size: 16px; line-height: 60px;}
.menu_title a.active,.menu_title a:hover { color: #2fb26a;}
.menu_title .link{}
.menu_title .link a{display: inline-block;width: 100px;height: 30px;line-height: 30px;text-align: center;background: #2fb26a;border-radius: 20px; color: #fff;margin-left: 100px;}
.menu_title .link a:hover{background: #40C57C;}
/*---------------首页---------------*/

/*首页*/
.item_box { width: 100%; padding: 98px 0px 0px 0px; overflow: hidden;}
.item_box_wp { width: 1180px; margin:0 auto; position: relative;}
.item_box .title { width: 1180px; text-align: center; color: #374552; margin: 0 auto 60px auto;}
.item_box .title h3 { font-size: 40px;}
.item_box .title b { width: 105px; height: 0; border-bottom: 2px #2fb26a solid; display: block; margin: 10px auto 15px auto;}
.item_box .title h4 { font-size: 20px; margin-bottom: 20px;}
.index_box .title h4 { font-size: 22px;}
.item_box .title p { font-size: 16px; opacity: 0.8; /* filter:alpha(opacity=80); */}

.box2 { padding-top: 70px; padding-bottom: 174px;}
.item_list { width: 100%; margin: 0 auto; min-width: 1200px;}
.item_list .list { width: 25%; width: 33.33%; float: left; display: inline; position: relative;}
.item_list .list img { position: relative; top: 0; left: 0; width: 100%;}
.item_list .list_tit { width: 100%; font-size: 20px; color: #fff; position: absolute; bottom: 0px; text-align: center;}
.item_list .list_tit{height: 66px; line-height: 66px;}
.item_list .tit_bg { height: 100%; width: 100%; position: absolute; bottom: 0; left: 0; background: #00a0e9; opacity: 0.9; filter:alpha(opacity=90);}
.item_list .list_tit span { position: relative; display: inline-block; background: url(../images/icon.png) 0 0 no-repeat; padding-left: 45px;}
.item_list .list2 .tit_bg,.item_list .list4 .tit_bg { background: #2ea967;}
.item_list .list1 span { background-position: -231px 20px;}
.item_list .list2 span { background-position: -231px -40px;}
.item_list .list3 span { background-position: -231px -99px;}
.item_list .list4 span { background-position: -231px -160px; padding-left: 50px;}
.item_list .list_intro { position: absolute; bottom: 0; left: 0; display: none;}
.item_list .intro_bg { width: 100%; height: 100%; position: absolute; top:0; left: 0; background: #374552; opacity: 0.8; filter:alpha(opacity=80);}
.item_list .intro_txt { position: relative; color: #fff; margin: 80px 22px;}
.item_list .intro_txt strong { font-size: 24px; font-weight: normal; display: block; margin-bottom: 20px; padding-bottom: 5px; background: url(../images/icon.png) 0 0 no-repeat; padding-left: 45px;}
.item_list .list1 strong { background-position: -231px 0px;}
.item_list .list2 strong { background-position: -231px -60px;}
.item_list .list3 strong { background-position: -231px -122px;}
.item_list .list4 strong { background-position: -231px -175px; padding-left: 50px;}
.item_list .intro_txt p { font-size: 16px; line-height: 35px; margin-bottom: 25px;}
.item_list .intro_txt p.link a { display: inline-block; width: 128px; height: 34px; line-height: 34px; text-align: center; color: #fff; border:1px #fff solid; border-radius: 18px; opacity: 0.8; filter:alpha(opacity=80);}
.item_list .intro_txt p.link a:hover{background: #5e6975;}
/*解决方案图标尺寸文字自适应*/
@media screen and (min-width: 1601px) and (max-width: 1919px){
    .item_list .list1 span { background-position: -231px 15px;}
    .item_list .list2 span { background-position: -231px -42px;}
    .item_list .list3 span { background-position: -231px -105px;}
    .item_list .list4 span { background-position: -231px -165px; padding-left: 50px;}
    .item_list .intro_txt { margin: 60px 22px;}
    .item_list .intro_txt strong { font-size: 22px;}
    .item_list .intro_txt p { font-size: 16px; line-height: 32px; margin-bottom: 20px;}
    .item_list .intro_txt p.link a { height: 32px; line-height: 32px;}
}
@media screen and (min-width: 1367px) and (max-width: 1600px){
    .item_list .list1 span { background-position: -231px 10px;}
    .item_list .list2 span { background-position: -231px -48px;}
    .item_list .list3 span { background-position: -231px -110px;}
    .item_list .list4 span { background-position: -231px -170px; padding-left: 50px;}
    .item_list .intro_txt { margin: 40px 22px;}
    .item_list .intro_txt strong { font-size: 22px;}
    .item_list .intro_txt p { font-size: 16px; line-height: 30px; margin-bottom: 20px;}
    .item_list .intro_txt p.link a { height: 30px; line-height: 30px;}
}
@media screen and (min-width: 1281px) and (max-width: 1366px){
    .item_list .list1 span { background-position: -231px 6px;}
    .item_list .list2 span { background-position: -231px -52px;}
    .item_list .list3 span { background-position: -231px -114px;}
    .item_list .list4 span { background-position: -231px -174px; padding-left: 50px;}
    .item_list .intro_txt { margin: 30px 22px;}
    .item_list .intro_txt strong { font-size: 22px;}
    .item_list .intro_txt p { font-size: 14px; line-height: 25px; margin-bottom: 20px;}
    .item_list .intro_txt p.link a { height: 30px; line-height: 30px;}
}
@media screen and (max-width: 1280px){
    .item_list .list1 span { background-position: -231px 6px;}
    .item_list .list2 span { background-position: -231px -52px;}
    .item_list .list3 span { background-position: -231px -114px;}
    .item_list .list4 span { background-position: -231px -174px; padding-left: 50px;}
    .item_list .intro_txt { margin: 20px 22px;}
    .item_list .intro_txt strong { font-size: 22px; margin-bottom: 10px;}
    .item_list .intro_txt p { font-size: 14px; line-height: 25px; margin-bottom: 20px;}
    .item_list .intro_txt p.link a { height: 30px; line-height: 30px;}
}

.tip-content.r { position: absolute;}
.tip-content.r>div{    top: -85px; position: absolute;display: none; z-index: 100}
.tip-content.r .icon {background-repeat:no-repeat ; background-position: top; position: absolute; height: 18px; width: 68px; display: inline-block; cursor: pointer; top: 0; left: 0; font-size: 14px; color: #374552; text-align: center;padding-top: 80px;}
.tip-content p { font-size: 14px; color: #374552; background: #fff; min-width: 170px; padding: 10px; border-radius: 5px; box-shadow: 2px 2px 2px #ccc; left: -120px; top: -70px;  /* position: absolute;z-index: 10; */ }
.tip-content i { display: inline-block; background: url(../images/triangle.png) 0 0 no-repeat; width: 18px; height: 18px; position: absolute; left: 12px;    bottom: -18px;z-index: 1; }

.box3 { background: #f2f2f5;}
.index_3 { text-align: center; border-bottom: 1px #E1E4E6 solid; padding-bottom: 54px;}
.index_3 .net-bg{height: 538px;position: relative; }

.index_3 .net-bg>.icon{display: inline-block; width: 32px; height: 32px; position: absolute;}
.android-icon.icon{left: 445px;top: 10px;}
.apple-icon.icon{ left: 540px;}
.win-icon.icon{ left: 635px;top: 10px;}

.index_3 .r{ position: absolute; z-index: 100;}
.index_3 .r .icon{padding-top: 75px; height: 18px; width: 128px; background-repeat: no-repeat; background-position: top; color: #354552; font-size: 16px;}
.index_3 .r.r1{left: 202px;top: 205px;}
.index_3 .r.r2{left: 374px;top: 300px;}
.index_3 .r.r3{left: 674px;top: 285px;}
.index_3 .r.r4{    left: 825px;top: 177px;}
.index_3 .r.r5 .icon{  width: 221px;height: 135px;}
.index_3 .r.r5{    left: 452px;top: 78px;}

.index_3 .steps{position: absolute; color: #374552; font-size: 15px; }
.index_3 .steps i{display: inline-block; width: 21px;height: 21px; -webkit-border-radius: 21px; -moz-border-radius: 21px; -ms-border-radius: 21px;font-weight: bold; border-radius: 21px; background: #2fb26a; color: #fff; text-align: center; line-height: 21px; font-style: normal; margin-right: 5px;}

.index_3 .steps.s1{bottom: 150px;-webkit-transform: rotate(36deg);-ms-transform: rotate(36deg);-moz-transform: rotate(36deg); transform: rotate(36deg);left: 139px;}
.index_3 .steps.s2{left: 322px;bottom: 62px;-webkit-transform: rotate(9deg);-ms-transform: rotate(9deg);-moz-transform: rotate(9deg);transform: rotate(9deg);}
.index_3 .steps.s3{    left: 614px;bottom: 53px;-webkit-transform: rotate(-6deg);-ms-transform: rotate(-6deg);-moz-transform: rotate(-6deg);transform: rotate(-6deg);}
.index_3 .steps.s4{    left: 848px;bottom: 95px;-webkit-transform: rotate(-20deg);-ms-transform: rotate(-20deg);-moz-transform: rotate(-20deg);transform: rotate(-20deg);}
.index_3 .net-canvas1{    left: 361px;-webkit-transform: rotate(22deg);-ms-transform: rotate(22deg);-moz-transform: rotate(22deg);transform: rotate(22deg);top: 30px;}
.index_3 .net-canvas2{    left: 452px;top: 72px;}
.index_3 .net-canvas3{    left: 441px;top: 164px;-webkit-transform: rotate(-8deg);-ms-transform: rotate(-8deg);-moz-transform: rotate(-8deg);transform: rotate(-8deg);}
.index_3 .net-canvas4{    left: 554px;top: 136px;-webkit-transform: rotate(-20deg);-ms-transform: rotate(-20deg);-moz-transform: rotate(-20deg);transform: rotate(-20deg);}
.index_3 .net-canvas5{    left: 482px;top: 18px;-webkit-transform: rotate(30deg);-ms-transform: rotate(30deg);-moz-transform: rotate(30deg);transform: rotate(30deg);}
.index_3 .net-canvas6{    left: 453px;top: -31px;-webkit-transform: rotate(26deg);-ms-transform: rotate(26deg);-moz-transform: rotate(26deg);transform: rotate(26deg);}
.index_3 .net-canvas7{    left: 544px;top: -52px;-webkit-transform: rotate(25deg);-ms-transform: rotate(25deg);-moz-transform: rotate(25deg);transform: rotate(25deg);}
.box4 { background: #f2f2f5; padding-bottom: 76px;}
.index_4 .left { float: left; display: inline; margin-left: 20px;}
.index_4 .left ul li { width: 145px; margin-bottom: 35px;}
.index_4 .left span { display: inline-block; text-align: center; width: 145px; color: #374552;opacity: 0.7; /* filter:alpha(opacity=70); */ }
.index_4 .left .num { font-size: 61px; font-weight: lighter; border-bottom: 1px #C9CCD1 solid; margin-bottom: 5px; }
.index_4 .left .num i { display: inline-block; background: url(../images/plus.png) 0 0 no-repeat; width: 29px; height: 29px; margin-left: 5px;}
.index_4 .left .txt { font-size: 15px; font-weight: lighter;}
.index_4 .right { float: right; display: inline; width: 970px; height: 481px; position: relative;}
.index_4 .r1 { top:111px; left: 121px;}
.index_4 .r2 { top:304px; left: 776px; z-index: 10;}
.index_4 .r3 { top:282px; left: 492px;}
.index_4 .r4 { top:326px; left: 263px;}
.index_4 .r5 { left: 626px;top: 38px;}
.customer-box{background: #f9f9f9;}
.index_4 .r.r5 .icon{ width: 221px; height: 135px; padding-top: 0;}
.box5 { padding-bottom: 80px;}
.index_5 ul li { float: left; display: inline; width: 236px; text-align: center; height: 95px; line-height: 95px;}
.canvas-content{ position: absolute;}
.canvas-content.canvas1{    width: 400px;left: 185px;transform: rotate(5deg);top: 38px;}
.canvas-content canvas{    position: absolute;top: 0; left: 0;}

.canvas-content.canvas2{    width: 420px;top: 164px;left: 255px;transform: rotate(-19deg);}
.canvas-content.canvas3{    width: 300px;top: 77px;left: 513px; transform: rotate(-3deg);}
.canvas-content.canvas4{    width: 350px;top: 118px;left: 627px; transform: rotate(27deg);}

/*------------公共体验入口及底部---------------*/
.enter_box { width: 100%; height: 150px; line-height: 150px; background: #17bf72; color: #fff; padding: 0px;}
.enter_box p { font-size: 30px; }
.enter_box a { width: 158px; height: 46px; line-height: 46px; border-radius: 30px; margin-top: 55px; text-align: center; font-size: 18px; color: #fff; float: right; display: inline;border:2px #fff solid; }
.enter_box a:hover { background: #2AD587;}

.ft_footer{border-top: 3px solid #2fb26a;background: #163143;}
.ft_footer .footer_box{border-bottom: 1px solid #2d4354;}
.footer_add_wp{position: relative;width: 1180px; margin: 0 auto;height: 96px;}
.footer_add_wp ul li{float: left;width: 33%;height: 40px;line-height: 40px;margin: 28px 0;padding-left: 46px;font-size: 18px;color: #fff;background: url(../images/footer-icon.png) 0px 0px no-repeat;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
.footer_add_wp ul li.item1{background-image: none;}
.footer_add_wp ul li.item1 img{margin-right: 10px;display: inline-block;}
.footer_add_wp ul li.item2{width: 40%;background-position: 140px -45px;border-left: 1px solid #2d4354;text-align: center;}
.footer_add_wp ul li.item3{width: 27%;background-position: 120px -90px;border-left: 1px solid #2d4354;text-align: right;}
.footer_add_wp ul li span{color: #2fb26a;padding-left: 10px;}
.ft_footer_wp {width: 1180px; margin: 0 auto; overflow: hidden; height: 100px;}
.footer_link {color: #eee; overflow: hidden;}
/*底部UL*/
.foot_nav{display: flex; margin-top: 40px;margin-bottom: 20px;}
.foot_nav li{flex:2; text-align: center; line-height: 30px;font-size: 16px;}
.foot_nav li a { color: #eee; opacity: 0.5; filter:alpha(opacity=50);}
.foot_nav li a:hover { opacity: 1; filter:alpha(opacity=100);}
.share{display: flex; margin: 0 20%;}
.share li{line-height: 100px; font-size: 16px;}
.share img{ width: 100px; height: 100px}
.footer_link dl { float: left; display: inline; width: 260px; margin-top: 40px; margin-bottom: 20px;}
.footer_link dl dt { font-size: 16px; margin-bottom: 24px;}
.footer_link dl dd { font-size: 14px; margin-bottom: 8px;}
.footer_link dl dd a { color: #eee; opacity: 0.5; filter:alpha(opacity=50);}
.footer_link dl dd a:hover { opacity: 1; filter:alpha(opacity=100);}
.footer_link dl dd span { opacity: 0.5; filter:alpha(opacity=50); display: block; margin-bottom: 5px;}
.footer_link dl dd .qq_link { opacity: 1; filter:alpha(opacity=100); background: url(../images/qq-online.png); width: 90px; height: 25px; cursor: pointer;}
.footer_link dl.share{width: 140px;}
.footer_link dl.share dd span { color: #fff; opacity: 0.3; filter:alpha(opacity=30); font-size: 14px; display: inline-block; width: 140px; text-align: center; margin-top: 15px;}
.relate_links {width: 100%;}
.relate_wp {width: 1180px; padding: 10px 10px 20px 10px; margin: auto; overflow: hidden;border-bottom: 1px solid #2d4354;}
.relate_links a,.relate_links span {color: #49505e; }
.relate_links a:hover{ color: #fff; }
.relate_links i { display: inline-block; width: 3px; height: 2px; margin: 0 10px; vertical-align: middle; background:#3e4654 }
.relate_links i.first{margin-left: 2px}
.footer_link a:hover{color: #fff;}
.copyright{height: 60px;line-height: 60px;}
.copyright p { color: #636879; font-size: 12px; margin-bottom: 10px; }
.copyright p a{ color: #636879;}

/*中部介绍*/
.topic{display: flex; margin-bottom: 30px;}
.topic li{flex: 3;}
.topic li { float: left; display: inline; border:2px #f7f8fa solid; border-radius: 5px;  position: relative; height: 290px; padding: 50px 0; text-align: center; margin-right: 34px;}
.topicli dt { height: 143px;}
.topic li dd { width: 185px; margin: 20px auto; font-size: 14px; color: #8a96a3; line-height: 25px;}
.topic li dd:last-child { text-align: left}
.topic li dd b { opacity: 1; font-size: 20px;color: #374552; }
.topic li:hover{ border-color: #40C57C; padding: 40px 0;}

/*详情页*/
.article-content{margin-bottom: 30px; font-size: 16px; line-height: 2rem; min-height: 400px;}


/*右下角弹出框*/
.float-tip-content{position: fixed; bottom: 0; right: 0;width: 340px;height: 340px;cursor: pointer;background: url(../images/float-tip-bg1.png) 0px 0px no-repeat;z-index: 10002;}
.float-tip-content .icon{display: inline-block; width: 23px; height: 23px; background: #d2d3d5 url(../images/float-close.png) 5px 5px no-repeat;position: absolute; top: 74px;right: 10px;border-radius: 0;-webkit-border-radius: 0;-moz-border-radius: 0;}
.float-tip-content .icon:hover{background-color: #9ea0a3;}
.float-tip-content .buy-btn{display: inline-block;width: 140px;height: 41px;position: absolute;left: 97px;bottom: 70px;font-size: 20px;font-weight: bold;color: #fff;line-height: 38px;text-align: center;background: url(../images/float-btn.png) 0px 0px no-repeat;}
.float-tip-content .buy-btn:hover{background-position: 0px -49px;}
.float-tip-content .tip-txt{width: 224px;position: absolute;left: 56px;bottom: 42px;line-height: 20px;font-size: 14px;text-align: center;z-index: 10004;}
.float-tip-content .tip-txt a{color: #364552;text-decoration: underline;}
.float-tip-content2{position: fixed; bottom: 20px; right: 30px;width: 279px;height: 223px;background: url(../images/float-r-pub.png) 0px 0px no-repeat;z-index: 10002;}
.float-tip-content2 .buy-btn{display: block;width: 100%;height: 100%;}
.float-tip-content2 .icon{display: inline-block; width: 18px; height: 18px; background: #bcbdbf url(../images/float-close2.png) 4px 4px no-repeat;position: absolute; top: -1px;right: -2px;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;}
.float-tip-content2 .icon:hover{background-color: #9ea0a3;}

/*最新右下角功能区*/
.pub-r-b-fun-content{position: fixed; top: 50%; right: 0;margin-top: -120px; z-index: 10001;}
.pub-r-b-fun-content .item{border-bottom: 1px solid #70e3a4;}
.pub-r-b-fun-content .item:last-child{border-bottom: 0;}
.pub-r-b-fun-content .item a{color: #fff; display: block;width: 65px; background: #2fb26a url(../images/pub-right-bottom-icon.png) 18px 16px no-repeat; padding-top: 50px; text-align: center; height: 30px;   position: relative;}
.pub-r-b-fun-content .item a:hover{ background-color:#40C57C}
.pub-r-b-fun-content .item.tel a{background-position: -36px 16px;}
.pub-r-b-fun-content .item.feedback{margin-bottom: 0;}
.pub-r-b-fun-content .item.feedback a{background-position: -90px 16px;}
.pub-r-b-fun-content .item.to-top a{height: 26px;padding-top: 20px;color: #374552;background-color: #e3e5e8; background-position: -137px 4px;}
.pub-r-b-fun-content .item.to-top{display: none;}
.pub-r-b-fun-content .pub-fun-tip{filter:alpha(opacity=70);  background-color:#000; display: none; position: absolute;right: 80px; border-radius: 4px;color: #fff;    line-height: 48px;font-size: 16px; top:50%; margin-top: -24px; background: rgba(0,0,0,.7);}
.pub-r-b-fun-content .item.online .pub-fun-tip{width: 131px; }
.pub-r-b-fun-content .item.tel .pub-fun-tip{width: 190px; }
.pub-r-b-fun-content .item.to-top .pub-fun-tip{width: 105px; }
.pub-r-b-fun-content .item .arrow{    display: inline-block;border-width: 10px;border-color: transparent; border-left-color: #000;border-style: solid;right: -20px;position: absolute;top: 14px;opacity: 0.7; filter:alpha(opacity=70);}
.pub-r-b-fun-content .item a:hover .pub-fun-tip{display: block; }
/*css动画效果*/
/*------------动画----------*/

/*弹入*/
@keyframes bouncein {
    0%{opacity:0;transform:scale(0.3);}
    100%{transform:scale(1);}
}
@-moz-keyframes bouncein {
    0%{opacity:0;-moz-transform:scale(0.3);}
    100%{-moz-transform:scale(1);}
}
@-webkit-keyframes bouncein {
    0%{opacity:0;-webkit-transform:scale(0.3);}
    100%{-webkit-transform:scale(1);}
}
@-o-keyframes bouncein {
    0%{opacity:0;-o-transform:scale(0.3);}
    100%{-o-transform:scale(1);}
}

@keyframes bouncein2 {
    0%{opacity:0;transform:scale(0.3);}
    40%{opacity:0;transform:scale(0.3);}
    100%{transform:scale(1);}
}
@-moz-keyframes bouncein2 {
    0%{opacity:0;-moz-transform:scale(0.3);}
    40%{opacity:0;-moz-transform:scale(0.3);}
    100%{-moz-transform:scale(1);}
}
@-webkit-keyframes bouncein2 {
    0%{opacity:0;-webkit-transform:scale(0.3);}
    40%{opacity:0;-webkit-transform:scale(0.3);}
    100%{-webkit-transform:scale(1);}
}
@-o-keyframes bouncein2 {
    0%{opacity:0;-o-transform:scale(0.3);}
    40%{opacity:0;-o-transform:scale(0.3);}
    100%{-o-transform:scale(1);}
}


@keyframes bouncein3 {
    0%{opacity:0;transform:scale(0.3);}
    80%{opacity:0;transform:scale(0.3);}
    100%{transform:scale(1);}
}
@-moz-keyframes bouncein3 {
    0%{opacity:0;-moz-transform:scale(0.3);}
    80%{opacity:0;-moz-transform:scale(0.3);}
    100%{-moz-transform:scale(1);}
}
@-webkit-keyframes bouncein3 {
    0%{opacity:0;-webkit-transform:scale(0.3);}
    80%{opacity:0;-webkit-transform:scale(0.3);}
    100%{-webkit-transform:scale(1);}
}
@-o-keyframes bouncein3 {
    0%{opacity:0;-o-transform:scale(0.3);}
    40%{opacity:0;-o-transform:scale(0.3);}
    100%{-o-transform:scale(1);}
}

/*向上淡入*/
@keyframes fadeinup1 {
    0%{opacity:0; transform:translateY(298px);}
    100%{opacity:1; transform:translateY(0);}
}
@-moz-keyframes fadeinup1 {
    0%{opacity:0; -moz-transform:translateY(298px);}
    100%{opacity:1; -moz-transform:translateY(0);}
}
@-webkit-keyframes fadeinup1 {
    0%{opacity:0; -webkit-transform:translateY(298px);}
    100%{opacity:1; -webkit-transform:translateY(0);}
}
@-o-keyframes fadeinup1 {
    0%{opacity:0; -o-transform:translateY(298px);}
    100%{opacity:1; -o-transform:translateY(0);}
}

@keyframes fadeinup2 {
    0%{opacity:0; transform:translateY(298px);}
    20%{opacity:0; transform:translateY(298px);}
    100%{opacity:1; transform:translateY(0);}
}
@-moz-keyframes fadeinup2 {
    0%{opacity:0; -moz-transform:translateY(298px);}
    20%{opacity:0; -moz-transform:translateY(298px);}
    100%{opacity:1; -moz-transform:translateY(0);}
}
@-webkit-keyframes fadeinup2 {
    0%{opacity:0; -webkit-transform:translateY(298px);}
    20%{opacity:0; -webkit-transform:translateY(298px);}
    100%{opacity:1; -webkit-transform:translateY(0);}
}
@-o-keyframes fadeinup2 {
    0%{opacity:0; -o-transform:translateY(298px);}
    20%{opacity:0; -o-transform:translateY(298px);}
    100%{opacity:1; -o-transform:translateY(0);}
}

@keyframes fadeinup3 {
    0%{opacity:0; transform:translateY(298px);}
    40%{opacity:0; transform:translateY(298px);}
    100%{opacity:1; transform:translateY(0);}
}
@-moz-keyframes fadeinup3 {
    0%{opacity:0; -moz-transform:translateY(298px);}
    40%{opacity:0; -moz-transform:translateY(298px);}
    100%{opacity:1; -moz-transform:translateY(0);}
}
@-webkit-keyframes fadeinup3 {
    0%{opacity:0; -webkit-transform:translateY(298px);}
    40%{opacity:0; -webkit-transform:translateY(298px);}
    100%{opacity:1; -webkit-transform:translateY(0);}
}
@-o-keyframes fadeinup3 {
    0%{opacity:0; -o-transform:translateY(298px);}
    40%{opacity:0; -o-transform:translateY(298px);}
    100%{opacity:1; -o-transform:translateY(0);}
}

@keyframes fadeinup4 {
    0%{opacity:0; transform:translateY(298px);}
    60%{opacity:0; transform:translateY(298px);}
    100%{opacity:1; transform:translateY(0);}
}
0%{opacity:0; transform:translateY(298px);}
60%{opacity:0; transform:translateY(298px);}
100%{opacity:1; transform:translateY(0);}
}
@-moz-keyframes fadeinup4 {
    0%{opacity:0; -moz-transform:translateY(298px);}
    60%{opacity:0; -moz-transform:translateY(298px);}
    100%{opacity:1; -moz-transform:translateY(0);}
}
@-webkit-keyframes fadeinup4 {
    0%{opacity:0; -webkit-transform:translateY(298px);}
    60%{opacity:0; -webkit-transform:translateY(298px);}
    100%{opacity:1; -webkit-transform:translateY(0);}
}
@-o-keyframes fadeinup4 {
    0%{opacity:0; -o-transform:translateY(298px);}
    60%{opacity:0; -o-transform:translateY(298px);}
    100%{opacity:1; -o-transform:translateY(0);}
}

@keyframes fadeinup5 {
    0%{opacity:0; transform:translateY(298px);}
    80%{opacity:0; transform:translateY(298px);}
    100%{opacity:1; transform:translateY(0);}
}
@-moz-keyframes fadeinup5 {
    0%{opacity:0; -moz-transform:translateY(298px);}
    80%{opacity:0; -moz-transform:translateY(298px);}
    100%{opacity:1; -moz-transform:translateY(0);}
}
@-webkit-keyframes fadeinup5 {
    0%{opacity:0; -webkit-transform:translateY(298px);}
    80%{opacity:0; -webkit-transform:translateY(298px);}
    100%{opacity:1; -webkit-transform:translateY(0);}
}
@-o-keyframes fadeinup5 {
    0%{opacity:0; -o-transform:translateY(298px);}
    80%{opacity:0; -o-transform:translateY(298px);}
    100%{opacity:1; -o-transform:translateY(0);}
}

@keyframes fadeinup6 {
    0%{opacity:0; transform:translateY(298px);}
    90%{opacity:0; transform:translateY(298px);}
    100%{opacity:1; transform:translateY(0);}
}
@-moz-keyframes fadeinup6 {
    0%{opacity:0; -moz-transform:translateY(298px);}
    90%{opacity:0; -moz-transform:translateY(298px);}
    100%{opacity:1; -moz-transform:translateY(0);}
}
@-webkit-keyframes fadeinup6 {
    0%{opacity:0; -webkit-transform:translateY(298px);}
    90%{opacity:0; -webkit-transform:translateY(298px);}
    100%{opacity:1; -webkit-transform:translateY(0);}
}
@-o-keyframes fadeinup6 {
    0%{opacity:0; -o-transform:translateY(298px);}
    90%{opacity:0; -o-transform:translateY(298px);}
    100%{opacity:1; -o-transform:translateY(0);}
}

/*沿Y轴翻入*/
@keyframes flipinY1{
    0%{transform:perspective(400px) rotateY(180deg);opacity:0;}
    100%{transform:perspective(400px) rotateY(0);opacity:1;}
}
@-moz-keyframes flipinY1 {
    0%{-moz-transform:perspective(400px) rotateY(180deg);opacity:0;}
    100%{-moz-transform:perspective(400px) rotateY(0);opacity:1;}
}
@-webkit-keyframes flipinY1 {
    0%{-webkit-transform:perspective(400px) rotateY(180deg);opacity:0;}
    100%{-webkit-transform:perspective(400px) rotateY(0);opacity:1;}
}
@-o-keyframes flipinY1 {
    0%{-o-transform:perspective(400px) rotateY(180deg);opacity:0;}
    100%{-o-transform:perspective(400px) rotateY(0);opacity:1;}
}

@keyframes flipinY2{
    0%{transform:perspective(400px) rotateY(180deg);opacity:0;}
    20%{transform:perspective(400px) rotateY(180deg);opacity:0;}
    100%{transform:perspective(400px) rotateY(0);opacity:1;}
}
@-moz-keyframes flipinY2 {
    0%{-moz-transform:perspective(400px) rotateY(180deg);opacity:0;}
    20%{-moz-transform:perspective(400px) rotateY(180deg);opacity:0;}
    100%{-moz-transform:perspective(400px) rotateY(0);opacity:1;}
}
@-webkit-keyframes flipinY2 {
    0%{-webkit-transform:perspective(400px) rotateY(180deg);opacity:0;}
    20%{-webkit-transform:perspective(400px) rotateY(180deg);opacity:0;}
    100%{-webkit-transform:perspective(400px) rotateY(0);opacity:1;}
}
@-o-keyframes flipinY2 {
    0%{-o-transform:perspective(400px) rotateY(180deg);opacity:0;}
    20%{-o-transform:perspective(400px) rotateY(180deg);opacity:0;}
    100%{-o-transform:perspective(400px) rotateY(0);opacity:1;}
}

@keyframes flipinY3{
    0%{transform:perspective(400px) rotateY(180deg);opacity:0;}
    40%{transform:perspective(400px) rotateY(180deg);opacity:0;}
    100%{transform:perspective(400px) rotateY(0);opacity:1;}
}
@-moz-keyframes flipinY3 {
    0%{-moz-transform:perspective(400px) rotateY(180deg);opacity:0;}
    40%{-moz-transform:perspective(400px) rotateY(180deg);opacity:0;}
    100%{-moz-transform:perspective(400px) rotateY(0);opacity:1;}
}
@-webkit-keyframes flipinY3 {
    0%{-webkit-transform:perspective(400px) rotateY(180deg);opacity:0;}
    40%{-webkit-transform:perspective(400px) rotateY(180deg);opacity:0;}
    100%{-webkit-transform:perspective(400px) rotateY(0);opacity:1;}
}
@-o-keyframes flipinY3 {
    0%{-o-transform:perspective(400px) rotateY(180deg);opacity:0;}
    40%{-o-transform:perspective(400px) rotateY(180deg);opacity:0;}
    100%{-o-transform:perspective(400px) rotateY(0);opacity:1;}
}

/*沿左右淡入*/
@keyframes fadeinL1{
    0%{opacity:0;transform:translateX(-100px);}
    100%{opacity:1;transform:translateX(0);}
}
@-moz-keyframes fadeinL1 {
    0%{opacity:0;-moz-transform:translateX(-100px);}
    100%{opacity:1;-moz-transform:translateX(0);}
}
@-webkit-keyframes fadeinL1 {
    0%{opacity:0;-webkit-transform:translateX(-100px);}
    100%{opacity:1;-webkit-transform:translateX(0);}
}
@-o-keyframes fadeinL1 {
    0%{opacity:0;-o-transform:translateX(-100px);}
    100%{opacity:1;-o-transform:translateX(0);}
}

@keyframes fadeinL2{
    0%{opacity:0;transform:translateX(-100px);}
    20%{opacity:0;transform:translateX(-100px);}
    100%{opacity:1;transform:translateX(0);}
}
@-moz-keyframes fadeinL2 {
    0%{opacity:0;-moz-transform:translateX(-100px);}
    20%{opacity:0;-moz-transform:translateX(-100px);}
    100%{opacity:1;-moz-transform:translateX(0);}
}
@-webkit-keyframes fadeinL2 {
    0%{opacity:0;-webkit-transform:translateX(-100px);}
    20%{opacity:0;-webkit-transform:translateX(-100px);}
    100%{opacity:1;-webkit-transform:translateX(0);}
}
@-o-keyframes fadeinL2 {
    0%{opacity:0;-o-transform:translateX(-100px);}
    20%{opacity:0;-o-transform:translateX(-100px);}
    100%{opacity:1;-o-transform:translateX(0);}
}

@keyframes fadeinR1{
    0%{opacity:0;transform:translateX(100px);}
    100%{opacity:1;transform:translateX(0);}
}
@-moz-keyframes fadeinR1 {
    0%{opacity:0;-moz-transform:translateX(100px);}
    100%{opacity:1;-moz-transform:translateX(0);}
}
@-webkit-keyframes fadeinR1 {
    0%{opacity:0;-webkit-transform:translateX(100px);}
    100%{opacity:1;-webkit-transform:translateX(0);}
}
@-o-keyframes fadeinR1 {
    0%{opacity:0;-o-transform:translateX(100px);}
    100%{opacity:1;-o-transform:translateX(0);}
}

@keyframes fadeinR2{
    0%{opacity:0;transform:translateX(100px);}
    20%{opacity:0;transform:translateX(100px);}
    100%{opacity:1;transform:translateX(0);}
}
@-moz-keyframes fadeinR2 {
    0%{opacity:0;-moz-transform:translateX(100px);}
    20%{opacity:0;-moz-transform:translateX(100px);}
    100%{opacity:1;-moz-transform:translateX(0);}
}
@-webkit-keyframes fadeinR2 {
    0%{opacity:0;-webkit-transform:translateX(100px);}
    20%{opacity:0;-webkit-transform:translateX(100px);}
    100%{opacity:1;-webkit-transform:translateX(0);}
}
@-o-keyframes fadeinR2 {
    0%{opacity:0;-o-transform:translateX(100px);}
    20%{opacity:0;-o-transform:translateX(100px);}
    100%{opacity:1;-o-transform:translateX(0);}
}

/*从上淡入*/
@keyframes fadeinT{
    0%{opacity:0;-webkit-transform:translateY(-100px);}
    100%{opacity:1;-webkit-transform:translateY(0);}
}
@-moz-keyframes fadeinT {
    0%{opacity:0;-moz-transform:translateY(-100px);}
    100%{opacity:1;-moz-transform:translateY(0);}
}
@-webkit-keyframes fadeinT {
    0%{opacity:0;-webkit-transform:translateY(-100px);}
    100%{opacity:1;-webkit-transform:translateY(0);}
}
@-o-keyframes fadeinT {
    0%{opacity:0;-o-transform:translateY(-100px);}
    100%{opacity:1;-o-transform:translateY(0);}
}
/*流量动画*/

/*banner动画效果(弹入)*/
.ft_banner18 .desc p.img,.ft_banner18 .desc p a { animation:bouncein 3s;}


.item_box.box9_conf {
    width: 100%;
    height: 768px;
    padding: 0;
    position: relative;
}
.item_box.source-box{height: 520px;}
.slide-content{position:relative; }
.slide-content .flex-viewport{padding-top:15px;}
.slide-content .slides li{position: relative;}
.slide-content .slides li:hover{border-color: #f0f2f4;}

/*底部注册*/
.index-btn{background-color: #fff;}
.index-btn .btn{text-align: center;padding-bottom: 100px;margin-top: -20px;}
.green-btn{color: #fff;font-size: 18px;padding: 14px 50px;background-color: #2fb26a;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
.green-btn:hover{background-color: #40C57C;}
/*IE9以下注释*/

.ie-dialog-bg{position:fixed;left:0;right:0;top: 0;bottom:0;background-color:#000;filter:alpha(opacity=70);z-index: 999999;}
.ie-dialog{position: absolute;width:630px;left: 50%;top: 50%;margin: -50px 0 0 -335px;padding: 30px 20px;background-color: #fff;line-height: 40px;z-index: 1000000;font-size: 20px;}
